{% extends 'polls/base.html' %}

{% load static %}


<body>
    {% block content %}

<!-- banner -->
<div class="about">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-4">
             <div style="margin-top: 1ks0px;">
                <h1 style="color: turquoise; font-weight: 800; size: 50pxks;">TC-544</h1>
             </br>
                <h3>Educación para la adaptación, prevención y mitigación de desastres.</h3>
            <img style="width: 350px; height: 200px;" src="{% static 'images/about.jpg' %}" alt="#" />
             </div>
          </div>
          <div class="col-md-8" >
            <p ALIGN="justify">
                <div>
                    <h2 style="color: skyblue; font-weight: 300;">¿De qué trata el proyecto?</h2>
                    <a >Capacitar a los estudiantes en educación, adaptación y prevención de los
                     desastres naturales. De esta manera, desarrollarán diferentes proyectos alusivos
                     al tema en las comunidades de la zona de Occidente con fines preventivos,
                      informativos y dinámicos.</a>
                </div>
                  <br/>
                <div>
               <h3 style="color: skyblue; font-weight: 300;">¿Qué actividades realiza?</h3>
               <ul>
                   <li>- Participar en las Jornadas de Acción Social de la Sede de Occidente.</li>
                   <li> - Visitas a viviendas de dos comunidades para brindar información sobre adaptación, prevención y mitigación de desastres.</li>
                   <li>- Capacitar en la elaboración de planes de emergencia comunales para miembros de comités comunales/centros educativos.</li>
                   <li>- Capacitar en el tema de adaptación y prevención de desastres.</li>
                   <li> - Construcción de diagnósticos socioambientales para la elaboración de planes de emergencia comunal.</li>
                   <li>- Brindar información sobre eventos naturales y antrópicos a nivel regional, así como sobre la construcción de alternativas locales desde el enfoque de desarrollo sostenible</li>
                   <li> - Capacitar en elaboración de planes de emergencia comunales a los miembros de, al menos, dos comités comunales o de centros educativos.</li>
                   <li>         - Capacitar a grupos de estudiantes, docentes y administrativos de escuelas y colegios seleccionados en adaptación y prevención de desastres.</li>
                   <li>- Elaboración de una estrategia para construir diagnósticos socioambientales en, al menos, una comunidad, con el fin de identificar amenazas y vulnerabilidades particulares.</li>
               </ul>
            </div>
            <br/>

            <div>
               <h3 style="color: skyblue; font-weight: 300;">¿Dónde se realiza?</h3>
               <a>Los proyectos se realizan en las comunidades de toda la zona de Occidente, donde solicitan apoyo o se encuentran en vulnerabilidad.</a>
            </div>
            <br/>
            
            <div>
            <h3 style="color: skyblue; font-weight: 300;"> ¿Qué se requiere para participar?</h3>
               <a> Compromiso para participar, disciplina y capacidad de trabajo en equipo.</a>
            </div>
            <br/>

            <div>
                <h3 style="color: skyblue; font-weight: 300;">¿Realiza giras? </h3>
                <a>Sí</a>
            </div>
            <br/>
            
            <div>
                <h3 style="color: skyblue; font-weight: 300;">¿Realiza actividades los fines de semana?</h3>
                <a>Sí</a>
                </div>
            </p>
            </div>
         </div>
       </div>
    </div>
 </div>
 </div>
    {% endblock %}
</body> 