{% extends 'polls/base.html' %}

{%  block content%}
<body>
    <div class="about">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                       <h2>Documentos</h2>
                    </div>
                 </div>
            </div>
        <div class="row">

            <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                     <tr>
                         <th>Nombre del documento</th>
                         <th>Fecha</th>
                         <th>Proyecto</th>
                         <th>Tipo</th>
                         <th>Enlace</th>
                    </tr>
                </thead>
        <tbody>
            <tr>
                <td>Guia</td>
                <td>25-01-2019</td>
                <td>Proyecto1</td>
                <td>Pdf</td>
                <td>www.google.com</td>
            </tr>
            <tr>
                <td>Guia2</td>
                <td>25-01-2016</td>
                <td>Proyecto2</td>
                <td>Pdf</td>
                <td>www.google.com</td>
            </tr>
            <tr>
                <td>Guia3</td>
                <td>25-01-2017</td>
                <td>Proyecto3</td>
                <td>Pdf</td>
                <td>www.google.com</td>
            </tr>
            <tr>
                <td>Guia4</td>
                <td>25-01-2018</td>
                <td>Proyecto4</td>
                <td>Pdf</td>
                <td>www.google.com</td>
            </tr>
        </tbody>
    </table>  
    </div>
</div> 
</div> 
</body> 
{% endblock %} 