<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <h1>
        {{ Datos_TCU.Codigo }}
    </h1>
    <h2>Nombre: {{ Datos_TCU.Nombre }}</h2> 
    <h3>ESTUDIANTES:</h3>
    {% for estudiante in Estudiantes %}
    <div class="col-sm-4">
        <h3>Column 1</h3>
        <li><a href="{{ estudiante.Identificacion }}"> {{estudiante.Nombre}} {{estudiante.Primer_Apellido}} </a></li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    
    {% endfor %}

  </div>
</div>

</body>
</html>