{% extends 'polls/base.html' %}

{% load static %}

    {% block content %}
    <section class="banner_main" >
        <div class="col-md-6" >
    
        </div>
        <div id="banner1" class="carousel slide" data-ride="carousel" style="background-color: rgba(0,0,0,0.4);">
                <ol class="carousel-indicators">
                    <li data-target="#banner1" data-slide-to="0" class="active" style="background-color: gray;"></li>
                    <li data-target="#banner1" data-slide-to="1" ></li>
                </ol>
                <div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="text-bg">
                                                <span>Titulo noticia</span>
                                                <p>Informacion sobre noticia</p>
                                                <a href="{% url 'news' %}">Detalles</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text_img">
                                                <figure><img src="{% static 'images/pct.png' %}" alt="#" /></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="text-bg">
                                                <span>Titulo noticia</span>
                                                <p>Informacion sobre noticia</p>
                                                <a href="{% url 'news' %}">Detalles</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text_img">
                                                <figure><img src="{% static 'images/pct.png' %}" alt="#" /></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
    </section>
    {% endblock %} 